<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="navbar">
  <a href="" class="active">Home</a>
  <a href="Ex1 registration form.html">About</a>
  <a href="#">Images</a>
  <a href="#">Help</a>
</div>
<br />
<div class="header">
  <img
    src="https://lvfiles.blob.core.windows.net/1-static/photos/slide/raw/2075689d-d0be-4182-b20c-4921628543fb"
    width="900"
    height="400"
  />
  <h1>AYYA NADAR JANAKI AMMAL COLLEGE</h1>
  <h2>Sivakasi - 626 124</h2>
</div>

<div class="row">
  <div class="side">
    <h2>About Me</h2>

    <div class="fakeimg" style="height:350px;">
      <br />
      <img
        src="https://i.ytimg.com/vi/rBbJ3SgTeMI/maxresdefault.jpg"
        width="900"
        height="310"
        class="logo"
      />
    </div>
    <br />
  </div>
  <div class="main">
    <h2>TITLE HEADING</h2>
    <div class="fakeimg" style="height:350px;">
      <img
        src="https://lvfiles.blob.core.windows.net/1-static/photos/slide/raw/5fa338e0-cf0d-4f76-8814-1879fa99edb4"
        width="900"
        height="310"
        class="logo"
      />&nbsp;&nbsp;
    </div>
    <br />
    <p style="font-size:20px;font-weight:bold">
      The Ayya Nadar Janaki Ammal College established in 1963 is a standing
      testimony to the wisdom and farsighted of The Legendary of Humanitarianism
      Thiru. P. Ayya Nadar, a farsighted industrial architect of Sivakasi town
      and renowned academician and his equally generous wife Thirumathi A.
      Janaki Ammal, caters the need of rural sector for higher education. As
      this Institution was established by their Munificence, the College was
      fittingly named after them. Discipline and Academic Excellence are Hall
      Mark of this Institution.
    </p>
  </div>
</div>

<div class="footer" style="font-size:20px;  color: crimson;">
  <p>Copyright &copy; <b>2021</b> - ANJAC COLLEGE</p>
  <p>Ayya Nadar Janaki Ammal College, Sivakasi - 626 124</p>
  <p>Contacts Us: 04563 - 223344</p>
  <p>Email Id: anjac@gmail.com</p>
</div>
